<app-navbar [isAuthor]="this.isAuthor"></app-navbar>
<div class="container py-4">
    <h1 class="h1 text-center" id="pageHeaderTitle">News of interest {{ interest.name }}</h1>
    <div class="row">
        <div class="col-md-12" *ngFor="let news2 of newsArticles">
            <app-news-card-dark [news]="news2" [news_author]="authors.get(news2.id)" [is_saved]="is_saved(news2)" [publisher]="publishers.get(news2.id)" (author_click)="redirectAuthor(news2)" (publisher_click)="redirectPublisher(news2)" (click_save)="saveNews(news2)" (click_unsave)="unsaveNews(news2)"></app-news-card-dark>
        </div>


</div>
