<app-navbar></app-navbar>
<div *ngIf="newsArticle" class="container mt-5">
  <h1 class="display-4 mb-4">{{ newsArticle.title }}</h1>
  <p class="lead">{{ newsArticle.description }}</p>
  <p class="lead">{{ newsArticle.content }}</p>
  <p class="text-muted mt-4">Published on: {{ p_name }}</p>
  <p class="text-muted">Published by: {{ u_name }}</p>

  <div class="mt-4">
    <button *ngIf="!editMode" (click)="toggleEditMode()" class="btn btn-primary mr-2">Edit</button>
    <button *ngIf="editMode" (click)="saveChanges()" class="btn btn-success mr-2">Save</button>
  </div>

  <div *ngIf="editMode" class="mt-4">
    <!-- Editable fields -->
    <input type="text" [(ngModel)]="newsArticle.title" class="form-control mb-3">
    <textarea [(ngModel)]="newsArticle.description" class="form-control" rows="4"></textarea>
    <textarea [(ngModel)]="newsArticle.content" class="form-control" rows="4"></textarea>
  </div>
</div>
