
<!--<app-news-card *ngFor="let news of newsList" [news]="news"></app-news-card>-->
<!--<app-news-card></app-news-card>-->
<div class="container py-4">
    <h1 class="h1 text-center" id="pageHeaderTitle">All News</h1>
    <div class="row">
        <div class="col-md-12" *ngFor="let news2 of newsArticles">
            <app-news-card-dark [news]="news2" [news_author]="authors.get(news2.id)" (author_click)="redirectAuthor(news2)"></app-news-card-dark>
        </div>
        <div class="col-md-12" *ngFor="let news of newsArticles">
            <app-news-card-light></app-news-card-light>
        </div>
    <app-news-card-dark></app-news-card-dark>
    <app-news-card-light></app-news-card-light>
    </div>
</div>
