<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      {{ title }}
      <span *ngIf="showIcon" class="special-icon">
        <i class="fa-solid fa-feather"></i>
      </span>
    </h5>
    <p *ngIf="description != ''" class="card-text">{{ description }}</p>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <button class="btn btn-success" (click)="onViewClick()">
      View
    </button>
    <button class="btn btn-danger" (click)="onDeleteClick()">
      Delete
    </button>
  </div>
</div>

