

<nav class="navbar navbar-expand-lg navbar-dark" style=" background-color:rgb(8, 3, 33);">
  <div class="container-fluid justify-content-between">
    <a class="navbar-brand" href="#">ByteNews</a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0" >
        <!-- Links... -->
        <li class="nav-item navbar-brand"><a class="nav-link navbar-brand"  (click)="redirectTo('all')">All News</a></li>
        <li *ngIf="currentUser.is_admin == false" class="nav-item navbar-brand"><a class="nav-link navbar-brand"  (click)="redirectTo('saved')">Saved News</a></li>
        <li class="nav-item navbar-brand"><a class="nav-link navbar-brand"  [routerLink]="['/user/comments/',userId]">Comments</a></li>
        <ng-container *ngIf="isAuthor">
          <li class="nav-item navbar-brand">
            <a class="nav-link navbar-brand" routerLinkActive="active" [routerLink]="['/author', userId, 'profile']">MyNews</a>
          </li>
          <li>
            <button type="button" class="btn btn-link" (click)="openmodal()" style="margin-top: 10px">
              <i class="fa fa-plus"></i> Add New
            </button>
          </li>
        </ng-container>
      </ul>
      <ul class="navbar-nav d-flex flex-row me-1">
        <li class="nav-item position-relative me-3 me-lg-0">
        <li class="nav-item navbar-brand"><a class="nav-link navbar-brand" (click)="openProfileModal()"><i class="fas fa-gear"></i></a>
          <a href="javascript:void(0);" class="nav-link navbar-brand" id="notificationsBell" (click)="toggleNotifications($event)">
            <a *ngIf="currentUser.is_admin == true" class="nav-link" routerLink="/admin/dashboard" style=" color: aliceblue; border-radius: 5px; margin-right: 5px;" >Admin View</a>
            <button *ngIf="!isLoggedIn" class="button" (click)="login()">Login</button>
            <button *ngIf="isLoggedIn" class="button" (click)="logout()">Logout</button>
          </a>

        </li>
      </ul>
    </div>
  </div>
</nav>


<div id="createModal" class="modal">
  <div class="modal-content">
    <h2>Create New</h2>
    <div class="input-group">
      <label for="title">Title:</label>
      <input type="text" id="title" [(ngModel)]="newsTitle" placeholder="Enter title">
    </div>
    <div class="input-group">
      <label for="description">Description:</label>
      <input type="text" id="description" [(ngModel)]="newsDescription" placeholder="Enter description">
    </div>
    <div class="input-group">
      <label for="content">Content:</label>
      <textarea id="content" [(ngModel)]="newsContent" placeholder="Enter content"></textarea>
    </div>
    <h4>Select Interests</h4>
    <div class="form-group">
      <div class="custom-select">
        <div class="selected-options" (click)="toggleDropdown1()">
          <span class="arrow"></span>
        </div>
        <div class="dropdown-list" [hidden]="!dropdownVisible">
          <div *ngFor="let interest of all_dropdown_interests" (click)="toggleDropdownInterestSelection(interest.id)"   [class.selected]="isDropdownInterestSelected(interest.id)">
            {{ interest.name }}
          </div>
        </div>
      </div>
    </div>
    <button (click)="saveChanges()">Save Changes</button>
    <button (click)="closeCreateModal()">Close</button>
  </div>
</div>

<div id="profileModal" class="modal">
  <div class="modal-content">
    <h2>User Profile</h2>
      <div clas="input">
        <label for="username">Username:</label>
        <input type="text" id="username" [(ngModel)]="user_data.username" name="username">
      </div>

      <div>
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" [(ngModel)]="user_data.first_name" name="firstname">
      </div>

      <div>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" [(ngModel)]="user_data.last_name" name="lastname">
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="user_data.password" name="password">
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="user_data.email" name="email">
      </div>
     <button (click)="saveProfileChanges()">Save</button>
     <button (click)="closeProfileModal()">Close</button>
  </div>
</div>

