
.modaledit {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modaledit-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modaledit-content label {
  display: block;
  margin-bottom: 5px;
  margin-right: 10px;
}

.modaledit-content input,
.modaledit-content textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#tags-container div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.modaledit-content button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}

.modaledit-content button:last-child {
  background-color: #6C757D;
}


.modaledit-content button:hover {
  background-color: #0056b3;
}


.modaledit-content button:last-child:hover {
  background-color: #545b62;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 200px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
}

.select-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
}


.selected-option {
  background-color: #f0f0f0;
  padding: 2px 5px;
  border-radius: 3px;
}

.arrow {
  border: solid #000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.dropdown-list {
  position: relative;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  max-height: 150px;
  overflow-y: auto;
}

.dropdown-option {
  padding: 5px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #ADD8E6;
}

.container #rad{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  flex: 1;
}

.container #rad {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: -10px;
}

.container #rad input{
  width: auto;
  margin-left: -10px;
}

.select_text{
  margin-left: 10px;
  font-size: 30px;
}
