
<!--<app-news-card *ngFor="let news of newsList" [news]="news"></app-news-card>-->
<!--<app-news-card></app-news-card>-->
<app-navbar [isAuthor]="this.isAuthor"></app-navbar>
<div class="container py-4">
  <h1 class="h1 text-center" id="pageHeaderTitle">My News</h1>
  <div class="row">
    <div class="col-md-12" *ngFor="let news2 of newsArticles">
      <app-news-card-dark [showButton]="true"   [news]="news2" [news_author]="authors.get(news2.id)" (author_click)="redirectAuthor(news2)" (deleteClick)="onDeleteClick(news2)"
                          (editClick)="onEditClick(news2)"></app-news-card-dark>
    </div>
  </div>
</div>



<div id="editModal" class="modaledit">
  <div class="modaledit-content">
    <h2>Edit New</h2>
    <div class="input-group">
      <label>Title:</label>
      <input type="text" id="edittitle" [(ngModel)]="newsTitle" placeholder="Enter title">
    </div>
    <div class="input-group">
      <label >Description:</label>
      <input type="text" id="editdescription" [(ngModel)]="newsDescription" placeholder="Enter description">
    </div>
    <div class="input-group">
      <label >Content:</label>
      <textarea id="editcontent" [(ngModel)]="newsContent" placeholder="Enter content"></textarea>
    </div>
    <div class="input-group">
      <label>Interests:</label>
      <div id="tags-container">
        <div *ngFor="let interest of all_interests">
          <input
            type="checkbox"
            id="interest{{ interest.id }}"
            [checked]="isInterestSelected(interest.id)"
            (change)="toggleInterestSelection(interest.id)"
          />
          <label for="interest{{ interest.id }}">{{ interest.name }}</label>
        </div>
      </div>
    </div>
    <button (click)="saveEditChanges()">Save Changes</button>
    <button (click)="closeEditModal()">Close</button>
  </div>
</div>

