<div *ngIf="user" class="container mt-5">
  <h2>User Details</h2>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
      <p class="card-text">Username: {{ user.username }}</p>
      <p class="card-text">Email: {{ user.email }}</p>
      <p class="card-text">Publisher: {{ publisher.name }}</p>
    </div>
  </div>
  <div *ngIf="user.is_author" class="card">
    <div class="card-body">
      <h5 class="card-title">User's News</h5>
      <div *ngFor="let news of userNews" class="card mb-3">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">{{ news.title }}</h6>
          <p class="card-text">{{ news.description }}</p>
          <!-- Add other news details as needed -->
          <div class="d-flex justify-content-end">
              <button class="btn btn-primary" (click)="viewNewsDetails(news.id)">
                <i class="fas fa-info-circle"></i> Details
              </button>
              <button class="btn btn-danger " (click)="deleteNews(news.id)">
                <i class="fas fa-trash-alt"></i> Delete
              </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
